<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adding goods</title>
</head>
<body>
<form action="/add_goods" method="post">
    <input type="text" placeholder="Enter the name of the product" name="name_of_goods">
    <input type="text" placeholder="Enter the cargo description" name="description">
    <input type="number" placeholder="Enter price" name="price">
    <input type="number" placeholder="Enter the quantity of goods" name="quantity">
    <input type="text" placeholder="Enter the availability status" name="in_stock">
    <input type="number" placeholder="Enter the product category" name="category_id">
    <input type="submit">
</form>


</body>
</html>